
@{
}

<h3> This website is using VideoLibrary package </h3>
<a href="https://www.nuget.org/packages/VideoLibrary/">NuGet: VideoLibrary/omansak</a> <br />
<a href="https://github.com/omansak/libvideo">GitHub: VideoLibrary/omansak</a>
