@model YouTubeDownloaderWeb.Models.UserInputModel;
@{
    ViewData["Title"] = "Home Page";
}
@using YouTubeDownloaderWeb.Controllers;

<a href="https://yadi.sk/d/XX-Zs9ODCkMu7w" style="font-size:25px">For Large Videos: Download Desktop Version Windows</a>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Download" id="myForm">
            <div class="form-group">
                <label>YouTube Video URL</label>
                <input asp-for="VideoUrl" class="form-control" required autocomplete="off" />
            </div>
            <div class="form-group">
                <label>Video Quality</label>
                <select asp-for="VideoQuality"
                        class="form-control"
                        required
                        asp-items="@(new SelectList(Model.QualityOptions))">
                    <!--<option disabled selected></option>-->
                </select>
            </div>
            <div class="form-group">
                <label>Video Format</label>
                <select asp-for="VideoFormat"
                        class="form-control"
                        required
                        asp-items="@(new SelectList(Model.FormatOptions))">
                    <!--<option disabled selected></option>-->
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Download" class="btn btn-primary" />
            </div>
        </form>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Home" asp-action="Index">
                    <div class="form-group">
                        <input type="submit" value="RefreshForm" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h3>Note: 1080p resolution might downloaded as 720p instead on some videos</h3>
<br />
<h2>Downloads might not start properly because of website traffic. Try it later. </h2>